#banner-3 {
  min-height: 85vh;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

#banner-3 > h1 {
  position: relative;
  padding-top: 50px;
  color: white;
  letter-spacing: 2px;
  font-size: 72px;
  font-weight: 500;
}

.technology {
  float: left;
  width: 20%;
  height: 200px;
  border-radius: 50%;
  margin: 0 70px;
}

.padding-top {
  padding-top: 50px;
}
