#banner-3 {
  min-height: 85vh;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

#banner-3 > h1 {
  position: relative;
  padding-top: 50px;
  color: white;
  letter-spacing: 2px;
  font-size: 72px;
  font-weight: 500;
}

.technology {
  float: left;
  width: 20%;
  height: 200px;
  border-radius: 50%;
  margin: 0 70px;
}

.padding-top {
  padding-top: 50px;
}

@media only screen and (max-width: 1330px) {
  .technology {
    margin: 0 60px;
  }
  .info {
    padding-left: 340px;
  }
}

@media only screen and (max-width: 1145px) {
  .technology {
    margin: 0 55px;
    height: 180px;
  }
  .info {
    padding-left: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .technology {
    margin: 0 50px;
    height: 170px;
  }
  .info {
    padding-left: 260px;
  }
}

@media only screen and (max-width: 995px) {
  .technology {
    margin: 0 45px;
    height: 160px;
  }
}

@media only screen and (max-width: 865px) {
  .technology {
    margin: 0 40px;
    height: 150px;
  }
  #banner-3 > h1 {
    font-size: 62px;
  }
  .info {
    padding-left: 220px;
  }
}

@media only screen and (max-width: 770px) {
  .technology {
    margin: 0 35px;
    height: 130px;
  }
  #banner-3 > h1 {
    font-size: 58px;
  }
}

@media only screen and (max-width: 675px) {
  .technology {
    margin: 0 30px;
    height: 120px;
  }
  #banner-3 > h1 {
    font-size: 54px;
  }
  .info {
    padding-left: 180px;
  }
}

@media only screen and (max-width: 580px) {
  .technology {
    margin: 0 25px;
    height: 100px;
  }
  #banner-3 > h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .info {
    float: left;
    padding-left: unset;
  }
  .technology {
    margin: 0 15px;
    height: 60px;
  }
  #banner-3 > h1 {
    font-size: 36px;
  }
}
