@media only screen and (max-width: 1330px) {
  .technology {
    margin: 0 60px;
  }
  .info {
    padding-left: 340px;
  }
}

@media only screen and (max-width: 1145px) {
  .technology {
    margin: 0 55px;
    height: 180px;
  }
  .info {
    padding-left: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .technology {
    margin: 0 50px;
    height: 170px;
  }
  .info {
    padding-left: 260px;
  }
}

@media only screen and (max-width: 995px) {
  .technology {
    margin: 0 45px;
    height: 160px;
  }
}

@media only screen and (max-width: 865px) {
  .technology {
    margin: 0 40px;
    height: 150px;
  }
  #banner-3 > h1 {
    font-size: 62px;
  }
  .info {
    padding-left: 220px;
  }
  .logoText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .technology {
    margin: 0 35px;
    height: 130px;
  }
  #banner-3 > h1 {
    font-size: 58px;
  }
  .logoText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 675px) {
  .technology {
    margin: 0 30px;
    height: 120px;
  }
  #banner-3 > h1 {
    font-size: 54px;
  }
  .info {
    padding-left: 180px;
  }
  .logoText {
    font-size: 14px;
  }
}

@media only screen and (max-width: 580px) {
  .technology {
    margin: 0 25px;
    height: 100px;
  }
  #banner-3 > h1 {
    font-size: 50px;
  }
  .logoText {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .info {
    float: left;
    padding-left: unset;
  }
  .technology {
    margin: 0 15px;
    height: 60px;
  }
  #banner-3 > h1 {
    font-size: 36px;
  }
  .logoText {
    font-size: 11px;
  }
  nav > a {
    margin: unset;
    margin-right: 5px;
    padding: 15px 5px;
    font-size: 11px;
  }
  .wrapper > .logo,
  .copyright {
    font-size: 11px;
  }
}
