/* Media Queries */

@media only screen and (max-width: 995px) {
  #active-cases {
    font-size: 32px;
  }
  .active-number {
    font-size: 48px !important;
  }
  /* World */
  .number {
    font-size: 38px !important;
  }
}

@media only screen and (max-width: 865px) {
  .logoText {
    font-size: 20px;
  }
  /* Tally */
  #tally > thead > tr > th,
  #tally > tbody > tr > td {
    padding: 10px 70px;
    font-size: 24px;
  }
  #active-cases {
    font-size: 28px;
  }
  .active-number {
    font-size: 44px !important;
  }
  /* World */
  .number {
    font-size: 32px !important;
  }
}

@media only screen and (max-width: 770px) {
  .logoText {
    font-size: 16px;
  }
  /* Tally */
  #tally > thead > tr > th,
  #tally > tbody > tr > td {
    padding: 10px 55px;
    font-size: 24px;
  }
  #active-cases {
    font-size: 24px;
  }
  .active-number {
    font-size: 40px !important;
  }
  /* World */
  .number {
    font-size: 28px !important;
  }
}

@media only screen and (max-width: 675px) {
  .logoText {
    font-size: 14px;
  }
  /* Tally */
  #tally > thead > tr > th,
  #tally > tbody > tr > td {
    padding: 10px 45px;
    font-size: 20px;
  }
  #active-cases {
    font-size: 20px;
  }
  .active-number {
    font-size: 36px !important;
  }
  /* World */
  .number {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 580px) {
  .logoText {
    font-size: 12px;
  }
  /* Tally */
  #tally > thead > tr > th,
  #tally > tbody > tr > td {
    padding: 10px 35px;
    font-size: 18px;
  }
  .text-yellow {
    font-size: 24px !important;
  }
  .text-red {
    font-size: 24px !important;
  }
  .text-green {
    font-size: 24px !important;
  }
  .text-white {
    font-size: 24px !important;
  }
  /* World */
  .number {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 500px) {
  /* Tally */
  #tally > thead > tr > th,
  #tally > tbody > tr > td {
    padding: 10px 20px;
    font-size: 16px;
  }
  .text-yellow {
    font-size: 18px !important;
  }
  .text-red {
    font-size: 18px !important;
  }
  .text-green {
    font-size: 18px !important;
  }
  .text-white {
    font-size: 18px !important;
  }
  /* World */
  #active-cases {
    font-size: 18px;
  }
  .number {
    font-size: 18px !important;
  }
  .active-number {
    font-size: 28px !important;
  }
}

@media only screen and (max-width: 400px) {
  /* Tally */
  #tally > thead > tr > th,
  #tally > tbody > tr > td {
    padding: 10px 10px;
    font-size: 12px;
  }
  .text-yellow {
    font-size: 12px !important;
  }
  .text-red {
    font-size: 12px !important;
  }
  .text-green {
    font-size: 12px !important;
  }
  .text-white {
    font-size: 12px !important;
  }
  /* World */
  .number {
    font-size: 12px !important;
  }
  #active-cases {
    font-size: 16px !important;
  }
  .active-number {
    font-size: 18px !important;
  }
}
