* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.wrapper {
  width: 100%;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-yellow {
  color: yellow;
  font-size: 32px !important;
  font-weight: 900;
}

.text-red {
  color: red;
  font-size: 32px !important;
  font-weight: 900;
}

.text-green {
  color: #01ff01;
  font-size: 32px !important;
  font-weight: 900;
}

.br {
  border-right: 2px solid white;
}

.bb {
  border-bottom: 2px solid white;
}

.bl {
  border-left: 2px solid white;
}

.bt {
  border-top: 2px solid white;
}

.pt {
  padding-top: 20px;
}

.pb {
  padding-bottom: 20px;
}

.pl {
  padding-left: 20px;
}

.weight-500 {
  font-weight: 500;
}

.weight-900 {
  font-weight: 900;
}

.margin-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.lh-50 {
  line-height: 50px;
}

.half-width {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.wrapper-content {
  width: 80%;
  margin: auto;
  line-height: 2em;
}
